{% extends "base.html" %}


{% block title %}
    Collection
{% endblock %}

{% block content %}
    <p id="deck-id"> {{ deck.id }} </p>
    <h1>Construct {{ deck.deck_name }} </h1>
    <h2 id="deck-total">0</h2>
    <h2 id="deck-legal">Deck Minimum Not Met</h2>
    <h3>{{ deck.invest_name }}</h3>
    <ul class="list-group" id="packs">
        {% for card in cards %}
            <li class="list-group-item">
                <p class="card-name">{{ card.name }}</p>
                <form id="{{ card.code }}">
                    {% for x in range(card.deck_limit + 1) %}
                        <input type="radio" class="deck-qty" value="{{ x }}" name="{{ card.name }}">
                        <label for="{{ x }}">{{ x }}</label>
                    {% endfor %}
                </form>
            </li>
        {% endfor %}
    </ul>
    <form action="/users/{{ g.user.id }}" id="deck-submit">
        <button>submit deck</button>
    </form>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/cards.js"></script>
{% endblock %}