{% extends "base.html" %}


{% block title %}
    Arkham Deck Builder
{% endblock %}

{% block content %}
<h1>Register to start using the Arkham Deck Builder</h1>

<form method="POST">

{{ form.hidden_tag() }}

{% for field in form if field.widget.input_type != "hidden" %}

<p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
    <span>{{ error }}</span>
    {% endfor %}
</p>
{% endfor %}

<button type="submit">Register</button>

</form>
<p>Already registered yet?<a href="/login">  CLICK HERE!</a></p>

{% endblock %}